{
  "schemas": [
  #foreach($schema in $catalog.schemas)
  {
    "name": "$schema.fullName",
    "slug": "$schema.key().slug()",
    "tables":
     [ #foreach($table in $catalog.getTables($schema))
        #if ($table.tableType == "table")
        {
         "name": "$identifiers.quoteName($table)",
         "remarks": "$table.getRemarks()",
         "slug" : "$table.key().slug()",
         "columns" : [
          #foreach($column in $table.columns)
           {
            "name": "$identifiers.quoteName($column).replace('"', '')",
            "slug": "$column.key().slug()",
            "part_of_pk": "$column.isPartOfPrimaryKey()",
            "part_of_fk": "$column.isPartOfForeignKey()",
            "column_type" : "$column.columnDataType",
            "column_java_sql_type": "$column.getColumnDataType().getJavaSqlType().getName()",
            "column_db_type":    "$column.getColumnDataType().getDatabaseSpecificTypeName()",
            "ordinal_position": "$column.getOrdinalPosition()",
            "remarks" : "$column.getRemarks()",
            "is_nullable" : "$column.isNullable()"
           } #if($foreach.count < $table.columns.size()),#end
          #end
          ],
          "outbound_foreign_keys" : [
            #foreach($fk in $table.getExportedForeignKeys())
                {
                  "fk_slug" : "$fk.key().slug()",
                  "fk_name" : "$fk.getName()",
                  "pk_table" : "$fk.getPrimaryKeyTable().key().slug()",
                  "fk_table" : "$fk.getForeignKeyTable().key().slug()",
                  "column_refs" : [
                  #foreach($colref in $fk.getColumnReferences())
                    {
                        "primary_key_column_slug" : "$colref.getPrimaryKeyColumn().key().slug()",
                        "foreign_key_column_slug" : "$colref.getForeignKeyColumn().key().slug()",
                        "primary_key_column_name" : "$colref.getPrimaryKeyColumn().getName()",
                        "foreign_key_column_name" : "$colref.getForeignKeyColumn().getName()"
                    }#if($foreach.count < $fk.getColumnReferences().size()),#end
                  #end
                  ]
                }#if($foreach.count < $table.getExportedForeignKeys().size()),#end
            #end
          ],
          "imported_foreign_keys" : [
            #foreach($fk in $table.getImportedForeignKeys())
                {
                  "fk_slug" : "$fk.key().slug()",
                  "pk_table" : "$fk.getPrimaryKeyTable().key().slug()",
                  "fk_table" : "$fk.getForeignKeyTable().key().slug()",
                  "column_refs" : [
                  #foreach($colref in $fk.getColumnReferences())
                    {
                        "primary_key_column_slug" : "$colref.getPrimaryKeyColumn().key().slug()",
                        "foreign_key_column_slug" : "$colref.getForeignKeyColumn().key().slug()",
                        "primary_key_column_name" : "$colref.getPrimaryKeyColumn().getName()",
                        "foreign_key_column_name" : "$colref.getForeignKeyColumn().getName()"
                    }#if($foreach.count < $fk.getColumnReferences().size()),#end
                  #end
                  ]
                }#if($foreach.count < $table.getImportedForeignKeys().size()),#end
            #end
          ]
        } #if($foreach.count < $catalog.getTables($schema).size() ),#end
        #end
    #end
    ]
  } #if($foreach.count < $catalog.schemas.size() ),#end
#end
  ]
}